{
  "bootstrap_expect": 3,
  "server": true,
  "datacenter": "{{ datacenter }}",
  "data_dir": "{{ consul_data_dir }}",
  "encrypt": "{{ consul_security_token }}",
  "log_level": "INFO",
  "enable_syslog": true,
  "leave_on_terminate": false,
  "skip_leave_on_interrupt": true,
  "rejoin_after_leave": true,
  "retry_interval": "30s",
  "start_join": [
    "172.31.95.241:8301",
    "172.31.85.232:8301",
    "172.31.81.121:8301"
  ]
}
