[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr
Environment=CATALINA_PID={{ tomcat_app_path }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ tomcat_app_path }}
Environment=CATALINA_BASE={{ tomcat_app_path }}
Environment='CATALINA_OPTS=-Xms1024M -Xmx2048M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ tomcat_app_path }}/bin/startup.sh
ExecStop={{ tomcat_app_path }}/bin/shutdown.sh

User={{ tomcat_user }}
Group={{ tomcat_group }}
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
