server {

	listen 80 default_server;
	server_name _;

	root {{ app_root }};

	index index.php index.html index.htm;

	location / {
		try_files $uri $uri/ /index.php?q=$uri&$args;
	}

	location ~ ^/wp-(admin/|login\.php\b) {
		include config/php-config.conf;
		#allow x.x.x.x;    #workspace IP
		#allow x.x.x.x;    #home IP		
		#deny all;
	}

	location ~ \.php$ {
		include config/php-config.conf;
	}
}
